<html>
  <head>
    <title>Todo App - First Edition</title>
    <style>
    body {
      font-family: Sans-serif;
    }
    h1 {
      color: #efefef;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      border: 1px solid #efefef;
      margin: 4px;
      padding: 6px;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 1px 0 #ccc;
    }
    li.done {
      text-decoration: line-through;
      color: #999;
    }
    .list {
      background-color: #efefef;
      color: #666;
      padding: 5px;
      width: 250px;
      font-size: 0.8em;
    }
    .list-header {
      font-weight: bold;
      padding: 5px;
    }
    form.complete-item, form.add-item {
      margin-bottom: 0;
    }
    form.complete-item button {
      float: right;
    }
    button {
      color: #efefef;
      border: 1px solid #efefef;
      cursor: pointer;
      margin-top: -2px;
    }
    button.undone {
      background-color: rgba(0, 121, 191, 0.5);
    }
    button.done {
      background-color: rgba(120, 120, 120, 0.5);
    }
    input.new-item {
      background-color: transparent;
      border: none;
      margin-left: 5px;
      margin-right: 5px;
      outline: none;
      font-size: 1em;
      width: calc(100% - 10px);
      box-sizing: border-box;
    }
    input.new-item:focus {
      background-color: white;
      padding: 5px;
      border-radius: 4px;
      margin-bottom: 5px;
      box-shadow: 0 1px 0 #ccc;
    }

    a.sort-link img {
      width: 100%;
      opacity: 0.3;
    }

    a.sort-link {
      width: 16px;
      height: 16px;
      display: inline-block;
    }

    a.sort-link.current img {
      opacity: 1;
    }

    .list-header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 5px;
    }
    </style>
  </head>
  <body style="background-color: rgb(0, 121, 191)">
    <h1>Torello</h1>

    <div class="list">
      <div class="list-header-container">
        <div class="list-header">Today</div>
        <div name="list-menu">
          <a class="sort-link <%= 'current' if sort == 'asc' %>" href="?sort=asc" title="Sort A-Z"><img src="/images/A-Z-512.png" /></a>
          <a class="sort-link <%= 'current' if sort == 'desc' %>" href="?sort=desc" title="Sort Z-A"><img src="/images/Z-A-512.png" /></a>
          <a class="sort-link <%= 'current' if sort == 'done' %>" href="?sort=done" title="Sort Completed to Bottom"><img src="/images/Check-512.png" /></a>
        </div>
      </div>
      <ul>
        <% items.each_with_index do |item, index| %>
          <li class="<%= item.status %>">
            <form class="complete-item" action="<%= item.done? ? '/undo' : '/complete' %>" method="post">
              <%= item.name %>
              <input type="hidden" value="<%= item.name %>" name="name">
              <input type="hidden" value="<%= sort %>" name="sort">
              <button class="<%= item.status %>"><%= item.done? ? "Undo" : "Done" %></button>
            </form>
          </li>
        <% end %>
      </ul>
      <form class="add-item" action="/add" method="post">
        <input type="hidden" value="<%= sort %>" name="sort">
        <input type="text" name="name" class="new-item" placeholder="Add an item..." required>
      </form>
    </div>
  </body>
</html>